:root, *, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Domain Serif";
  src: url("./fonts/DomainSerif-Regular.woff2") format("woff2"),
       url("./fonts/DomainSerif-Regular.woff") format("woff"),
       url("./fonts/DomainSerif-Regular.tff") format("truetype"),
       url("./fonts/DomainSerif-Regular.otf") format("opentype");
}
#harpburger {
  height:135px;
  width:155px;
  position:absolute;
  top:0;
  right:0;
}
html {
  font-family: orpheuspro, serif;
  font-size: 16px;
  color: rgb(14,14,14);
  background-color: rgb(241,241,241);
  margin: 0;
	overflow-x: hidden;
}
body {
  min-height: 100vh;
  text-align: center;
  font-size: 100%;
  margin: 0;
	overflow-x: hidden;
  position: relative;
}
header {
  display: block;
  position: relative;
}
header > svg {
  margin: 0 auto;
  width: 100%;
}
footer {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer > svg {
  width: 100%;
}
main {
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 100px;
  min-width: 100vw;
  min-height: 100vh;
}
main > header {
  padding: 2em;
}
main > header > * {
  margin: 0;
}
.back_to_top {
  margin: 4em auto;
  max-width: 7rem;
  cursor: pointer;
}
.back_to_top > a > svg {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.back_to_top:hover > a > svg {
  animation: backtop 1.5s linear infinite;
}
nav > ul {
  text-align: left;
  margin: 1em;
  font-size: 1.5rem;
}
nav > ul > li {
  cursor: pointer;
}
p {
  margin: 1rem auto;
  max-width: 34rem;
  padding: 0 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  display: inline-block;
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin: 0;
}
h2 {
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 5rem;
  font-weight: 400;
  font-style: italic;
  margin: 0 auto;
  width: 100%;
}
h5 {
  top: calc(100% * 2/3);
  font-size: 1.3rem;
  font-weight: 500;
  left: 0;
  margin: 0 1em;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  float: left;
}
h6 {
  margin: 0 1em;
  font-size: .8rem;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
figcaption {
  font-famile: "Domain Serif";
  font-size: 100%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item {
  width: 98%;
  margin: 1%;
  position: relative;
}
.flex-item img {
  display: block;
  width: 100%;
}
.navigation {
  text-align: left;
  margin: 1em;
  font-size: 1.5rem;
}
.navigation > li {
  cursor: pointer;
}
.intro {
  background-image: url('../img/IVDE_Homepage_768.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.picture_nav {
  padding: 0 1%;
  max-width: 1440px;
  margin: 0 auto;
}
.picture_nav > div > div {
  cursor: pointer;
  background-color: transparent;
}
article {
  max-width: 34rem;
  margin: 2em auto;
}
/* W3 recommendation for invisible content */
/* Still readable by screenreaders */
.invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}
.flavor {
  font-size: 1.5rem;
}
.quote {
  font-size: 1.5rem;
  max-width: 24rem;
  cursor: pointer;
  text-align: center;
  margin: 2em auto;
  padding: 0 1em;
}
.quote svg {
  height: .7em;
  width: .7em;
  margin-top: .8em;
}
.quote img {
  display: block;
  height: 2rem;
  border-bottom: 1px solid black;
  margin: 0 auto;
}
.text {
  font-family: "Domain Serif";
  margin: 1rem;
  text-align: left;
}
.no_top_margin {
  margin-top: 0 !important;
}
.no_bottom_margin {
  margin-bottom: 0 !important;
}
.copyright {
  text-align: right;
}
.youtube_container {
  margin: 0 auto;
  background-color: transparent;
  border-radius: 5px;
  display: block;
  padding-top: 50.65%;
  position: relative;
}
.st_black {
  stroke: rgb(35,31,32);
  stroke-width: 1;
}
.st_white {
  stroke: rgb(241,241,241);
  stroke-width: 1;
}
.st_blue {
  stroke: rgb(53,79,162);
  stroke-width: 1;
}
.st_red {
  stroke: rgb(237,28,36);
  stroke-width: 1;
}
@keyframes backtop {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* Ipad or greater format */
@media only screen and (min-width: 768px) {
  body {
    padding-bottom: 130px;
  }
  .flex-item {
    width: 48%;
  }
  .intro {
    background-image: url('../img/IVDE_Homepage_1200.jpg');
  }
}
/* medium desktop or greater format */
@media only screen and (min-width: 992px) {
  .flex-item {
    width: 31%;
  }
  html {
    font-size: 18px;
  }
}
/* large desktops */
@media only screen and (min-width: 1200px) {
  .flex-item {
    width: 23%;
  }
  html {
    font-size: 20px;
  }
  .intro {
    background-image: url('../img/IVDE_Homepage_2560.jpg');
  }
}
