:root, *, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
html {
  font-family: orpheuspro, serif;
  font-size: 16px;
  color: rgb(14,14,14);
  background-color: rgb(241,241,241);
  margin: 0;
	overflow-x: hidden;
}
body {
  min-height: 100vh;
  text-align: center;
  font-size: 100%;
  margin: 0;
	overflow-x: hidden;
  position: relative;
  padding-bottom: 100px;
}
p {
  text-align: left;
  margin: 1rem auto;
  max-width: 34rem;
  padding: 0 1em;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  display: inline-block;
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}
h2 {
  line-height: 1em;
  font-size: 1.5em;
  position: absolute;
  bottom: 1em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h5 {
  top: calc(100% * 2/3);
  font-size: 1.3rem;
  font-weight: 500;
  left: 0;
  margin: 0 1em;
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  float: left;
}
h6 {
  margin: 0 1em;
  font-size: .8rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
img {
}
.header {
  display: block;
  position: relative;
}
.footer {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.header > svg {
  margin: 0 auto;
  width: 100%;
}
.footer > svg {
  margin: 0 auto;
  width: 100%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1%;
  max-width: 1440px;
  margin: 0 auto;
}
.flex-item {
  width: 98%;
  padding-top: 55.125%;
  margin: 1%;
  background-color: orange;
  position: relative;
}
.navigation {
  text-align: left;
  margin: 1em;
  font-size: 1.5rem;
}
.navigation > li {
  cursor: pointer;
}
.article {
  height: 100%;
  max-width: 900px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.back_to_top {
  margin: 4em auto;
  max-width: 7rem;
  cursor: pointer;
}
.back_to_top > a > svg {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.back_to_top:hover > a > svg {
  animation: backtop 1.5s linear infinite;
}
.flavor {
  font-size: 1.5rem;
}
.credits {
  text-align: left;
  margin: 1rem;
}
.quote {
  font-size: 1.5rem;
  max-width: 24rem;
  cursor: pointer;
  text-align: center;
  margin: 2em auto;
  padding: 0 1em;
}
.quote svg {
  height: .7em;
  width: .7em;
  margin-top: .8em;
}
.quote img {
  display: block;
  height: 2rem;
  border-bottom: 1px solid black;
  margin: 0 auto;
}
.no_top_margin {
  margin-top: 0 !important;
}
.no_bottom_margin {
  margin-bottom: 0 !important;
}
.copyright {
  text-align: right;
  /* float: right; */
}
.youtube_container {
  background-color: transparent;
  border-radius: 5px;
  display: block;
  padding-top: 50.65%;
  position: relative;
}
.st_black {
  stroke: rgb(35,31,32);
  stroke-width: 1;
}
.st_white {
  stroke: rgb(241,241,241);
  stroke-width: 1;
}
.st_blue {
  stroke: rgb(53,79,162);
  stroke-width: 1;
}
.st_red {
  stroke: rgb(237,28,36);
  stroke-width: 1;
}
@keyframes backtop {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* Ipad or greater format */
@media only screen and (min-width: 768px) {
  .article {
    padding-bottom: 130px;
  }

  .flex-item {
    width: 48%;
    padding-top: 27%;
  }
}
/* medium desktop or greater format */
@media only screen and (min-width: 992px) {
  .flex-item {
    width: 31%;
    padding-top: 17.4%;
  }
  html {
    font-size: 18px;
  }
}
/* large desktops */
@media only screen and (min-width: 1200px) {
  .flex-item {
    width: 23%;
    padding-top: 12.94%;
  }
  html {
    font-size: 20px;
  }
}
